.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#logo img {
  margin: auto 20px;
}

.auth_error {
  font-style: italic;
  color: red;
}
